:root {
    --grey: #282828; 
    --red: #a43636;
    --blue: #2f32b1;
    --lightgrey: #9fa3b1; 
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background: linear-gradient(var(--grey) 60%, var(--blue), var(--red)) no-repeat;
}

body {
    font-family:"Montserrat", sans-serif;
}

nav ul {
    padding-inline-start: 10px;
    padding-inline-end: 20px;
}

#star-heart-top .fa-heart {
    margin-left: 30px;
}

#star-heart-top .fa-star,
#star-heart-top .fa-heart {
    cursor: pointer;
}

nav ul li .fa-heart:hover:before {
    color:var(--red);
    text-shadow: 0px 0px 10px black;
}

nav ul li .fa-star:hover {
    color:var(--blue);
    text-shadow: 0px 0px 10px black;
}

#page-title {
    font-size: 50px;
}

#line {
    height: 2px;
    width: 21.5em;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to left, var(--blue), var(--red));
}

#page-subtitle {
    font-size: 11.5px;
    letter-spacing: 2px;
}

#search #search-box {
    width: 450px;
}

#search #search-box #dropdown {
    width: 150px;
    border-left: 2px solid var(--lightgrey);
    color: var(--lightgrey);
    cursor: pointer;
}

#search #search-box #dropdown #default-option {
    letter-spacing: 2px;
}

#search #search-box #dropdown ul {
    width: 137px;
    letter-spacing: 2px;
    display: none;
}

#search #search-box #dropdown ul.show-options {
    display: block;
}  

#by-song {
    border-bottom: 2px solid var(--lightgrey);
}

#search #search-box #search-field {
    width: 350px;
}

#search #search-box #search-field .input {
    font-family:"Montserrat", sans-serif;
    letter-spacing: 2px;
    width: 90%;
    padding-left: 30px;
    padding-right: 38px;
  }

#search #search-box #search-field .input:focus {
    outline: 0px;
  }

#search #search-box #search-field i {
    position: absolute;
    top: 5px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
}

footer {
    letter-spacing: 2px;
    padding-top: 10px;
}